<div id="<%= dom_id product %>">
  <div class="max-w-sm h-fit mb-4 rounded overflow-hidden shadow-2xl">
    <img class="w-full h-96 object-contain h-64 w-64" src="<%= product.image %>" alt="picture">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2"><%= product.name %></div>
      <p class="text-gray-700 text-base">
     <% if action_name != "show" %>
        <%= product.description.truncate(100) %>
        <% else %>
        <%= product.description.truncate(350) %>
     <% end %>
      </p>
    </div>
    <div class="flex flex-row justify-between px-6 pt-4 pb-2">
     <% if action_name != "show" %>
    <%= link_to "View", product, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold  py-2 px-4 rounded " %>
    <%= link_to 'Edit', edit_product_path(product), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  <% end %>
    </div>
  </div>
</div>